/* styles2.css */

#gameContainer {
    display: flex;
    flex-direction: column;
}

#castles {
    display: flex;
    justify-content: space-around;
}

#castleA,
#castleB {
    text-align: center;
}

#castleA img,
#castleB img {
    width: 200px; 
    height: auto;
    margin-bottom: 20px;
}

.entrainementA,
.entrainementB {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addUnits {
    display: flex;
    flex-direction: column;
}

.addUnits button {
    margin: 5px;
}

.inputConsole {
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    overflow-y: auto;
}


#carreauxContainer {
    display: flex;
    flex-direction: row;
}

#carreaux p {
    text-align: center;
    color: #0056b3;
}

#carreauxContainer .inputConsole {
    background-color: lightgray;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    margin: 10px;
    margin-top: 100px;
}

.log {
    height: 200px;
    width: 100%;
    overflow-y: auto;
    border: 2px solid #ccc;
    margin-top: 10px;
}

#turn {
    text-align: center;
    margin-top: 20px;
}

#Turn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Turn:hover {
    background-color: #0056b3;
}
